.container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto 20px;
  border: 1px solid #696969;
  background: #00ced1;

  .title {
    font-size: 21px;
    color: #fffaf0;
    margin-left: 20px;
  }

  .box-link {
    margin-left: 20px;

    .link {
      margin-right: 20px;
      font-size: 16px;
      color: #fffaf0;
      text-decoration: none;
    }
  }
}
