<div class="cart" *ngIf="question">
  <div class="title">
    <p>{{ question.title }}</p>
  </div>
  <div class="answers">
    <ng-container *ngIf="question.type === 'open'">
      <form [formGroup]="formQuestion">
        <input
          [ngClass]="formQuestion.controls['answer'].errors && formQuestion.controls['answer'].touched ?  'warning-textarea textarea-item' : 'textarea-item'"
          name="answer"
          formControlName="answer">
        <p *ngIf="formQuestion.controls['answer'].errors && formQuestion.controls['answer'].touched" class="warning-text">Field is required and minimal symbols is 1 and maximum 255</p>
      </form>
    </ng-container>
    <ng-container *ngIf="question.type !== 'open'">
      <form [formGroup]="formQuestionSingle">
        <ng-container *ngIf="question.type === 'multiple'">
          <ng-container formArrayName="answers" *ngFor="let answer of formQuestionSingle.controls['answers'].value; let j = index;">
            <div [formGroupName]="j" *ngIf="j !== 0">
              <input formControlName="isChoice" type="checkbox" [value]="answer.isChoice">
              <label>{{ answer.answer }}</label>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="question.type === 'single'">
          <ng-container formArrayName="answers" *ngFor="let answer of formQuestionSingle.controls['answers'].value; let j = index;">
            <ng-container [formGroupName]="j" *ngIf="j !== 0">
              <input formControlName="isChoice" type="radio">
              <label>{{ j }}. {{ answer.answer }}</label>
            </ng-container>
          </ng-container>
          {{ formQuestionSingle.controls['answers'].value | json }}
        </ng-container>
      </form>
    </ng-container>
  </div>
  <div>
    <p>Create Data: {{ question.createDate | date:'YYYY-MM-d HH:mm:ss' }}</p>
  </div>
  <div>
    <button (click)="saveResultAnswer(question.type)">Save answer</button>
  </div>
</div>
