.cart {
  background: antiquewhite;
  border-radius: 16px;
  padding: 16px;
  margin: 20px 0;

  .title-box {
    margin: 5px 0;

   .title {
     margin: 0;
   }
  }

  .answers {

    .textarea-item {
      width: 100%;
      height: auto;
    }

    .warning-textarea {
      border: 2px solid #ff0000;
    }

    .warning-text {
      color: #ff0000;
      margin: 0;
    }

    .answers-title {
      margin: 0;
    }

    .single-box {
      display: flex;
      flex-direction: column;

      .single-box-input {
        margin: 0;
      }
    }
  }
}
