.container {
  margin: auto 50px;

  .name-page {
    font-size: 18px;
  }

  .box-list {
    display: flex;
    justify-content: space-between;

    .box-list-block {
      width: 50%;
      padding: 5px;
    }
  }
}
