<app-header page="other"></app-header>
<div class="container">
  <div class="name-page">
    <h3>List of questions Page</h3>
  </div>
  <div class="box-list">
    <div class="box-list-block">
      <ng-container *ngFor="let question of questions">
        <app-card-question-for-list
          *ngIf="!question.isRead"
          [question]="question"
          (pushResult)="isChoiceAnswer($event)"
        >
        </app-card-question-for-list>
      </ng-container>
    </div>
    <div class="box-list-block">
      <ng-container *ngFor="let question of answers; let i = index">
        <app-card-question-for-answer
          [question]="question"
          [questionIndex]="question.id"
          (pushResult)="removeAnswer($event, i)"
        >
        </app-card-question-for-answer>
      </ng-container>
    </div>
  </div>

</div>
