<div class="question">
  <div>
    <div class="box">
      <h4 class="box-title">Question title: </h4>
      <p class="box-text">{{ question.title }}</p>
    </div>
    <div class="box">
      <h4 class="box-title">Question type: </h4>
      <p class="box-text">{{ question.type }}</p>
    </div>
    <div class="box">
      <h4 class="box-title">Question create: </h4>
      <p class="box-text">{{ question.createDate | date:'YYYY-MM-d HH:mm:ss' }}</p>
    </div>
  </div>
  <div class="btn-box">
    <button class="box-btn-edit" (click)="onEdit(questionIndex)">Edit</button>
    <button class="box-btn-delete" (click)="onDelete(questionIndex)">Delete</button>
  </div>
</div>
