<div class="cart" *ngIf="question">
  <div class="title">
    <p>{{ question.title }}</p>
  </div>
  <div class="answers">
    <ng-container *ngIf="question.type === 'open'">
      <form [formGroup]="formQuestion">
        <input
          [ngClass]="formQuestion.controls['answer'].errors && formQuestion.controls['answer'].touched ?  'warning-textarea textarea-item' : 'textarea-item'"
          name="answer"
          formArrayName="answer">
        <p *ngIf="formQuestion.controls['answer'].errors && formQuestion.controls['answer'].touched" class="warning-text">Field is required and minimal symbols is 1 and maximum 255</p>
        <div>
          <button (click)="saveResultAnswer(question.type)">Save answer</button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="question.type === 'single'">
      <div *ngFor="let item of question.answers; let i = index">
        <input type="radio" [value]="item.isChoice" (click)="choiceAnswer(i)">
        <label (click)="choiceAnswer(i)">{{ item.answer }}</label>
      </div>
    </ng-container>
    <ng-container *ngIf="question.type === 'multiple'">
      <div *ngFor="let item of question.answers; let i = index">
        <input type="checkbox" [value]="item.isChoice">
        <label (click)="choiceAnswer(i)">{{ item.answer }}</label>
      </div>
    </ng-container>
  </div>
  <div>
    <p>Create Data: {{ question.createDate }}</p>
  </div>
</div>
